.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;

  @include breakpoint(md) {
    padding: 0 2rem;
  }
}

picture {
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.is-blurry {
    --blur-amount: 1rem;
    overflow: hidden;

    > img {
      filter: blur(var(--blur-amount));
      width: calc(100% + var(--blur-amount) * 2);
      height: calc(100% + var(--blur-amount) * 2);
      margin: calc(var(--blur-amount) * -1);
    }
  }
}

[hidden] {
  display: none;
}
