input,
textarea {
  --height: var(--form-height);
  height: var(--height);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
  border-radius: calc(var(--height) / 2);
  font-size: 100%;
  font-family: inherit;
  border: 0px solid white;
  width: auto;
  display: block;
}

input[type="file"] {
  &::file-selector-button {
    @extend %button;
  }
}
