input,
button,
input::file-selector-button {
  padding: 0.7rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 100%;
  font-family: inherit;
  border: 0px solid white;
  width: auto;
  display: block;
}
