.hstack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
